:root {
    --bg-orange: #ffa309;
    --bg-white: #fffef5;
    --calender-dark-orange: #d8540e;
    --calender-orange: #f68b26;
    --calender-light-orange: #ffbe4a;
    --calender-yellow: #fddc8a;
    --calender-white: #fef2db;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to top, var(--bg-orange) 0%, var(--calender-light-orange) 100%);
}