/*
    color codes
    #ffa309
    #d8540e
    #f68b26
    #ffbe4a
    #fddc8a
    #fef2db
    #fffef5
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to top, rgb(255, 136, 0) 0%, #ffd68a 100%);
}