<!doctype html>
<html>
  <head>
    <title>Register</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/register.css') }}"
    />
  </head>
  <body class="register-page">
    <div class="login-container">
      <div class="logo">register</div>

      <form id="registerForm">
        <div class="form-row">
          <input
            type="text"
            id="firstName"
            class="input-field"
            placeholder="First Name:"
          />
          <input
            type="text"
            id="lastName"
            class="input-field"
            placeholder="Last Name:"
          />
        </div>

        <div class="form-row">
          <input
            type="email"
            id="email"
            class="input-field"
            placeholder="Email:"
          />
          <input
            type="text"
            id="username"
            class="input-field"
            placeholder="Username:"
          />
        </div>

        <div class="form-row">
          <input
            type="password"
            id="password"
            class="input-field"
            placeholder="Password:"
          />
          <input
            type="password"
            id="confirmPassword"
            class="input-field"
            placeholder="Confirm Password:"
          />
        </div>

        <div class="actions center-action">
          <button type="submit" class="btn">Register</button>
        </div>

        <p id="message" class="message"></p>
      </form>
    </div>

    <script src="{{ url_for('static', filename='javascript/register.js') }}"></script>
  </body>
</html>
